{% extends 'my_app/base.html' %}
{% load static %}

{% block title %}Gwjwnsar Brahma{% endblock %}
{% block body %}
<body class="bg-1" data-spy="scroll" data-target=".navbar" data-offset="50">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url }}/">Gwjwnsar</a>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{{ url }}/">Home</a></li>
            <li><a href="{{ url }}/about/">About Me</a></li>
            <li><a href="{{ url }}/resume/">Resume</a></li>
            <li><a href="{{ url }}/contact/">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="main-h">
      <h1 class="f-text h-text">Gwjwnsar Brahma</h1>
      <h3 class="f-text">An Aspiring Developer</h3>
    </div>
  </div>
</body>
{% endblock %}
